@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CompanyUpdateDto
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="mt-4">
        <form asp-action="UpdateCompany" asp-controller="Employer" method="post" class="p-4 w-75 mx-auto">
            <div class="mb-3">
                <label class="mb-1">Şirket Adı:</label>
                <input type="text" asp-for="@Model.Name" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="mb-1">Şirket Tanımı:</label>
                <input type="text" asp-for="@Model.Defination" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="mb-1">Adres:</label>
                <input type="text" asp-for="@Model.Address" class="form-control" />
            </div>
            <div class="mb-3 text-end">
                <button type="submit" class="btn btn-primary">Şirket Profilini Güncelle!</button>
            </div>
            <input type="hidden" asp-for="@Model.UserId" class="form-control" />
            <div class="text-danger" asp-validation-summary="All">
            </div>
        </form>
    </div>
</body>
</html>